*{margin: 0;
padding: 0;}

header {
    text-align:center;
    height: 150px;
}




.PHOTOS {
    display: inline-block;
    line-height: 21px;
    color:  #ffffff;
    font-size: 18px;
    text-align: center;
}

.item {
    display: inline-block;
    padding-right: 67px;
    padding-bottom: 95px; 
}

.footer {
    margin-bottom: 20px;
}

.header-logo {
    float: left;
}

.header-logo:hover .header-logo-text {
    color: #f26522;
}

.header-logo:hover .logo-img {
    background-position: -10px -10px;
}

.head:hover {
    color: #FF4500;
}

.main {
    background: url(background.jpg);
    width: 1366px;
    padding-top: 48px;
    background-size: cover;
    margin: 0 auto;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.header-logo-text {
    float: left;
    color: aliceblue;
    font-size: 29px;
font-weight: 700;
    line-height: 0.8;
    margin-left: 15px;
    
}

.logo-img {
    width: 46px; height: 44px;
    background: url('css_sprites.png') -76px -10px;
    float: left;
}

.logo-second-word {
    font-size: 18px;
}

.header-contacts {
    float: right;
    text-align: right;
    
}

.header-contact-text {
    text-decoration: none;
    color: #ffff;
}

.header {
    margin-bottom: 48px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.tour {
    width: 311px;
    float:left;
    margin-right: 63px;
    margin-bottom: 56px;
    text-align: center;
    position: relative;
}
.tour:nth-child(3n) {
    margin-right: 0;
}

.tour-img {
    border: 2px solid transparent;

	  border-image: linear-gradient(to bottom, #fff 0%, #000 100%);

	  border-image-slice: 1;
     margin-bottom: 22px;
}

.tour-name {
    color:  #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.tour:hover .tour-name{
    color: #f26522;
}

.tour:hover .tour-details {
    opacity: 1;
}

.coperate {
   
}

.copyright {
    color:  #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}

.tour-details {
    background-color: #f26522;
    padding: 17px 21px;
    position: absolute;
    bottom: 47px;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.4s;
}

.tour-price {
    float: left;
    color: #fff;
}

.view-details {
    float: right;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 16px;    
}
.view-details::after {
    content: ">";
    display: inline-block;
    margin-left: 8px;
}
